extends layout
block vars
	-var title = "Login"
block content
	form(action="/login" method="post")
		| Email : 
		input(type="text" name="email_id" required)
		<p class="login_req">
		br 
		input(type="submit" value="Login")
		br
		br
	if error
		<p class="error">Error: #{error}
