extends layout
block content
	form(action="/login" method="post")
		| Username : 
		input(type="text" name="username" required)
		<p class="login_req">
		br 
		input(type="submit" value="Login")
		br
		br
	if error
		<p class="error">Error: #{error}
