extends layout
block vars
	- var title = "Start Quiz"
block content
	a(href="/dashboard") Dashboard
	br
	br
	| Quiz name: #{name}
	br
	br
	| Time Duration: #{total_time}
	br
	br
	| Total Seats: #{total_seats}
	br
	br
	| Players Joined:
	br
	div
	br
	br
	br
	| Total Players Joined:
	br
	br
	button(type="button" onclick="location.href= '/start_quiz/1'") Start