block vars
 -var title = 'Waiting Page'
extends layout
block content
 body
  div.waittingPage
   br
   br
   |#{data[0].name} Quiz
   br
   br
   br
   |Players joined 0/#{data[0].total_seats}
   br
   |Quiz will start soon...

